.dialog {
    display: block;
    padding: 3.5rem 4rem;
    border-radius: 2rem;
    box-sizing: border-box;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
    font-family: Montserrat;
    box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
    background: #fff;
    color: rgba(0, 0, 0);
}

.customBackdrop {
    background: linear-gradient(256deg, rgba(27, 158, 209, .9) 0%, rgba(144, 42, 181, .9) 50%, rgba(237, 83, 91, .9) 100%);
}