.Backdrop {
    background-color: rgba(0, 0, 0, 0.32);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    pointer-events: auto;
    -webkit-tap-highlight-color: transparent;
    opacity: 1;
    display: flex;
    overflow: hidden;
    /* Prevents scrolling on backdrop */
}

.topPosition {
    top: 0;
    transform: translate(-50%, calc(10px));
}

.bottomPosition {
    top: 100%;
    transform: translate(-50%, calc(-100% - 10px));
}

.centerPosition {
    top: 50%;
    transform: translate(-50%, -50%);
}

.Modal {
    position: fixed;
    left: 50%;
    box-sizing: border-box;
    z-index: 1000;

    /* animation-name: appearModal;
    animation-duration: .25s; */
}

.ModalContent {
    animation: appearModal 0.25s ease-out;
    transform-origin: center center;
}

@keyframes appearModal {
    0% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}