.checkboxButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    height: 2rem;
    font-size: inherit;
    line-height: 1;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.checkboxButton:disabled {
    opacity: 1;
}

.checkbox {
    width: 14px;
    height: 14px;
    accent-color: var(--secondary-color);
}

.childrenContainer {
    min-width: 0;
    flex: 1;
}

.checkboxButton:disabled .childrenContainer {
    opacity: .5;
}